BasedOnStyle: Microsoft
IndentWidth: 4

Language: Cpp 

AlignConsecutiveMacros: AcrossEmptyLines

AlignConsecutiveDeclarations: AcrossEmptyLines

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2

DerivePointerAlignment: false
PointerAlignment: Left
